

body {
  background: url("https://images.pexels.com/photos/2803158/pexels-photo-2803158.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #496D8C;
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jumbotron{
  flex-direction: column;
  background-color: #011126;
  color: #84A4BF
}
.card{
  background-color: #84A4BF;
  border-radius: 30%;
  border: 5px solid #011126;
  margin-bottom: 1rem;
}
li{
  background-color: #B6D0F2;
  border-style: solid;
  list-style: none;
  font-weight:bolder;
  color: #011126
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
